<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>390430262303-rsd8ptuu03ee0bjjcb0oafj2a4qne1t2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.390430262303-rsd8ptuu03ee0bjjcb0oafj2a4qne1t2</string>
	<key>API_KEY</key>
	<string>AIzaSyCeYE-IaAT-Gk52Y3Kw2UalTMZvPpyou2Y</string>
	<key>GCM_SENDER_ID</key>
	<string>390430262303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.dochoi.Budi</string>
	<key>PROJECT_ID</key>
	<string>budi-956ae</string>
	<key>STORAGE_BUCKET</key>
	<string>budi-956ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390430262303:ios:ee6a9b75ac52c360cf012a</string>
</dict>
</plist>